<div class='form_element'><label for="user_name">Name:</label><br />
<%= text_field "user", "name", :size => 30 %></div>
<div class='form_element'><label for="user_password">Password:</label><br />
<%= password_field "user", "password", :size => 30 %></div>
<div class='form_element'>
	<label for="submit">&nbsp;</label><br />
	<%= submit_tag "sign up" %>
</div>
<br style='clear:both;margin:0;padding:0;'/>